.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 10px;
  margin: 10px 0;
}
.App a {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
  font-family: 'Courier Prime', monospace;
}