.Weather {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid white;
    background: rgba(204, 204, 204, 0.2);
}
.Weather form {
    margin-bottom: 20px;
}
.Weather h1 {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 0 0;
    line-height: 29px;
    color: blue;
}
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li {
    list-style: none;
}
.Weather .temperature {
    font-weight: bold;
    font-size: 30px;
    line-height: 64px;
}
.Weather img {
    height: 80px;
    display: inline-block;
}
.Weather .unit {
    font-size: 16px;
    position: relative;
    top: -9px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');
.Weather h1 {
    font-family: 'Roboto Mono', monospace;
}